<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Path" value="E:\Projects\WCF\WCF\WCF.WEB.FileService"/>
    <add key="Url" value="http://file.meisugou.com/"/>
    <add key="ImgUrl" value="E:\Projects\WCF\WCF\WCF.WEB.FileService"/>
    <add key="Key" value="FD69B2EB9A11E3063518F1932E314E4AA1577BF0B824F369"/>
    <add key="intWidth" value="600"/>
    <add key="http_url" value="http://www.meisugou.com"/>
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="20000000" executionTimeout="600"/>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="UrlRoutingHandler"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <bindings>
      <wsHttpBinding>
        <binding name="LargeDataTransferServicesBinding" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="655360" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <message clientCredentialType="None" algorithmSuite="Default"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCF.WEB.FileService.UploadFileBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="WCF.WEB.FileService.UploadFileBehavior" name="WCF.Lib.File.Upload">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="WCF.Lib.File.IUpload">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="WCF.WEB.FileService.UploadFileBehavior" name="WCF.Lib.File.NewFileUpload">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="LargeDataTransferServicesBinding" contract="WCF.Lib.File.INewFileUpload">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>