@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_UCenterLayout.cshtml";
}

<div class="per_right per_order">
    <div class="order_h">
        <div class="h_left">修改登录密码</div>
    </div>
    <div class="entre_f">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <td width="140" align="right">原密码：</td>
                    <td><input type="password" id="txt_pwd_old" style="width: 200px;"></td>
                </tr>
                <tr>
                    <td align="right">新密码：</td>
                    <td><input type="password" id="txt_pwd_new" style="width: 200px;"></td>
                </tr>
                <tr>
                    <td align="right">确认新密码：</td>
                    <td><input type="password" id="txt_pwd_new_confirm" style="width: 200px;"></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="per_button"><a href="JavaScript:;" onclick="accounts.modifyPwd(); return false;">确认修改密码</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@Html.AntiForgeryToken()