<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQrCodeGenerator" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_INewFileUpload" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IUpload" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://file.meisugou.com/UploadFile.svc" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUpload" contract="WcfUpload.IUpload"
                name="WSHttpBinding_IUpload">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://file.meisugou.com/NewFileUpload.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INewFileUpload"
                contract="WcfNewFileUpload.INewFileUpload" name="WSHttpBinding_INewFileUpload">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://file.meisugou.com/QrCodeGenerator.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQrCodeGenerator"
                contract="QrCodeGenerator.IQrCodeGenerator" name="BasicHttpBinding_IQrCodeGenerator" />
        </client>
    </system.serviceModel>
</configuration>