<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <!--target设置目标存放的路径-->
    <target name="Info" xsi:type="File" fileName="${basedir}/Logs/Info/${date:format=yyyyMMdd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${callsite}][${level}] ${message} ${exception}" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Trace" xsi:type="File" fileName="${basedir}/Logs/Trace/${date:format=yyyyMMdd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${callsite}][${level}] ${message} ${exception}" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Debug" xsi:type="File" fileName="${basedir}/Logs/Debug/${date:format=yyyyMMdd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${callsite}][${level}] ${message} ${exception}" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Exception" xsi:type="File" fileName="${basedir}/Logs/Exception/${date:format=yyyyMMdd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${callsite}][${level}] ${message} ${exception}" archiveAboveSize="5000000" Encoding="utf-8"/>
    <target name="Fatal" xsi:type="File" fileName="${basedir}/Logs/Fatal/${date:format=yyyyMMdd}.txt" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}][${callsite}][${level}] ${message} ${exception}" archiveAboveSize="5000000" Encoding="utf-8"/>

    <target name="LogCustom" xsi:type="File" layout="${message}"
          fileName="${basedir}\Logs\${event-context:DirOrPrefix}${date:format=yyyyMMdd}${event-context:Suffix}.txt" archiveAboveSize="5000000" Encoding="utf-8"/>
  </targets>
  <targets async="true"/>
  <rules>
    <!--路由规则，表示每个级别的日志所对应的target目标路径，writeTo 对应target中的name-->
    <logger name="*" level="Info" writeTo="Info"/>
    <logger name="*" level="Trace" writeTo="Trace"/>
    <logger name="*" level="Debug" writeTo="Debug"/>
    <logger name="*" level="Error" writeTo="Exception"/>
    <logger name="*" level="Fatal" writeTo="Fatal"/>
    <logger name="LogCustom" level="Warn" writeTo="LogCustom" />
  </rules>
</nlog>