<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="Path" value="D:\\MFQ\\WCF\\WCF.WEB.FileService\\Upload\\"/>
    <add key="Url" value="http://localhost:8099/Upload/"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCF.Lib.File.UploadBehavior" name="WCF.Lib.File.Upload">
        <endpoint address="net.tcp://file.meisugou.com:4502/test/UploadFile.svc" binding="netTcpBinding" contract="WCF.Lib.File.IUpload">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://file.meisugou.com:4502/test/UploadFile.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="WCF.Lib.File.NewFileUpload">
        <endpoint address="net.tcp://file.meisugou.com:4502/test/NewFileUpload.svc" binding="netTcpBinding" contract="WCF.Lib.File.INewFileUpload">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://file.meisugou.com:4502/test/NewFileUpload.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCF.Lib.File.UploadBehavior">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
