@{
    ViewBag.Title = "支付结果";
    Layout = "~/Areas/Mobile/Views/Shared/_MobileLayout.cshtml";
}

<div class="msg_zf_c">
    <span class="span1">支付成功！</span>
</div>
<div class="msg_zf_b"><a href="@Url.Action("Index")">返回继续购物</a></div>
